<mat-card *ngIf="!loading">
  <mat-card-header>
    <mat-card-title>
      {{ 'profile' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input type="email" matInput [placeholder]="'email' | translate" formControlName="email" autocomplete="on" readonly>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput [placeholder]="'name' | translate" formControlName="name" autocomplete="on">
      </mat-form-field>
      <div *ngIf="form.get('name')?.errors && form.get('name')?.touched" class="alert alert-danger small">
        <div *ngIf="form.get('name')?.errors?.['required']">{{'validations.name.required' | translate}}</div>
      </div>

      <mat-form-field>
        <input type="text" matInput [placeholder]="'surname' | translate" formControlName="surname" autocomplete="on">
      </mat-form-field>
      <div *ngIf="form.get('surname')?.errors && form.get('surname')?.touched" class="alert alert-danger small">
        <div *ngIf="form.get('surname')?.errors?.['required']">{{'validations.surname.required' | translate}}</div>
      </div>

      <div class="button-div">
        <button color="accent" (click)="save()" mat-raised-button>{{ 'save' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
