:host {
  display: flex;
  justify-content: center;
}

mat-card-title {
  margin-bottom: 16px;
  color: var(--mat-app-text-color);
}

form {
  margin-top: 16px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 1366px;
}

@media (max-width: 1440px)  {
  mat-card {
    width: 90%;
  }
}
