<div class="wrapper center" *ngIf="loading">
  <div class="inner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-toolbar class="rounded-lg" color="primary">
  <span (click)="goToMain()" class="main-page">{{title}}</span>
  <span class="toolbar-space"></span>

  <app-theme-toggle></app-theme-toggle>

  <button mat-icon-button [matMenuTriggerFor]="themeMenu" title="Select Theme">
    <mat-icon fontIcon="format_color_fill"></mat-icon>
  </button>

  <mat-menu #themeMenu="matMenu" class="rounded-lg">
    <button mat-menu-item *ngFor="let theme of themes" (click)="themeLoader(theme)" [title]="theme">
      {{ theme | translate }}
    </button>
  </mat-menu>
</mat-toolbar>

<mat-divider class="m-2"></mat-divider>

<router-outlet></router-outlet>
