.center.wrapper {
  position: relative;
}

.main-page {
  cursor: pointer;
}

.center .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  height: calc(100vh - 20px);
}

.inner {
  padding: 12px;
}

.toolbar-space {
  flex: 1 1 auto;
}

.rounded-lg {
  border-radius: 20px;
}

.m-2 {
  margin: 2rem;
}
