<h2 mat-dialog-title>{{ 'coverage.info' | translate }}</h2>
<mat-dialog-content>
  @if (data.lineList && (data.type === 'line' || data.type === 'branch' || data.type === 'instruction')) {
    <mat-expansion-panel *ngFor="let line of data.lineList">
      <mat-expansion-panel-header>
        <mat-panel-title>{{('line' | translate) + line.lineNumber!.toString()}}</mat-panel-title>
        <mat-panel-description>{{line.covered ? ('covered' | translate) : 'uncovered' | translate}}</mat-panel-description>
      </mat-expansion-panel-header>
      @if (data.type === 'instruction' || data.type === 'line') {
        <p>
          {{('coverage.instruction' | translate) + line.instructionCoverage!.toString() + '/' + ((line.instructionCoverage || 0) + (line.instructionMissed || 0)).toString()}}
        </p>
      }
      @if (data.type === 'branch' || data.type === 'line') {
        <p>
          {{('coverage.branch' | translate) + line.branchCoverage!.toString() + '/' + ((line.branchCoverage || 0) + (line.branchMissed || 0)).toString()}}
        </p>
      }
    </mat-expansion-panel>
  }
  @if (data.mutationList && data.type === 'mutation') {
    <mat-accordion>
      <mat-expansion-panel *ngFor="let mutation of data.mutationList">
        <mat-expansion-panel-header>
          <mat-panel-title>{{('mutationLine' | translate) + mutation!.line}}</mat-panel-title>
          <mat-panel-description>{{('killedStatus' | translate) + (mutation.isKilled!.toString() | translate)}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{('mutationType' | translate) + mutation.mutationType}}</p>
        <p>{{('mutationMethod' | translate) + mutation!.mutationInfo}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()" color="primary" mat-flat-button>{{ 'close' | translate }}</button>
</mat-dialog-actions>

