<mat-card *ngIf="!loading">
  <mat-card-header>
    <mat-card-title>
      {{ 'challenge' | translate }}
      @if (!!this.form.get("name")?.value) {
        <span>- {{this.form.get("name")?.value}}</span>
      }
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input type="text" matInput [placeholder]="'name' | translate" formControlName="name" autocomplete="on">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <mat-label>{{'difficulty.select' | translate}}</mat-label>
            <mat-select formControlName="difficulty">
              <mat-option value="EASY">{{'difficulty.EASY' | translate}}</mat-option>
              <mat-option value="NORMAL">{{'difficulty.NORMAL' | translate}}</mat-option>
              <mat-option value="MEDIUM">{{'difficulty.MEDIUM' | translate}}</mat-option>
              <mat-option value="HARD">{{'difficulty.HARD' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="5">
          <mat-card class="intern-card">
            <mat-card-header>
              <mat-card-title>
                {{ 'description' | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="intern-card-content">
              <div class="app-ace-editor" #descriptionEditor></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="5">
          <mat-card class="intern-card">
            <mat-card-header>
              <mat-card-title>
                {{ 'code' | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="intern-card-content">
              <div class="app-ace-editor" #codeEditor></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="1">
          <button color="accent" (click)="save()" mat-raised-button>{{ 'save' | translate }}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
